@page "/camera"
@using SGS2025Client.SDKCameraServices.Dahua
@inject IServiceProvider Services

<h3>Dahua Live (JPEG streaming)</h3>

 

<div style="margin-top:10px">
    <button class="btn btn-primary" >Chụp ảnh</button>
</div>

@code {
 
}
