@page "/"
@inject MoDaContext Db
<PageTitle>Accounts</PageTitle>
 

<ul>
    @foreach (var acc in Accounts)
    {
        <li>@acc.UserName - @acc.FullName</li>
    }
</ul>

@code {
    private List<TblAcccount> Accounts = new();

    protected override void OnInitialized()
    {
        Accounts = Db.TblAcccounts.ToList();
    }
}